[Desktop Entry]
Icon=text-html
Name=Gofdot Flatpak Instructions
Type=Link
URL[$e]=https://cassidyjames.com/blog/publish-godot-engine-game-flathub-flatpak/
